:root{
    --primary: #2ed4c3ef;
    --primary-010: #257970;


    --secondary: #06628a;
    --secondary-010: #06374e;

    --white: #fff;

    --black: #10101a; 
    --black-010: #24242eb9;

    --grey: #bbbbc2;

}